/*清除默认样式*/
html,body{height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}
/*清除浮动*/
  .clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}


#wrap{
  height: 100%;
  background: pink;
}
#header{
  position: relative;
}
.header-main{
  height:80px;
  width: 1100px;
  margin: 0 auto;
  background:palevioletred;
}
.log {
  float: left;
margin-top: 15px;
}
.icon{
  float: left;
  margin-top: 50px;
}
.list{
  float: right;
  margin-top: 50px;

}
.list li{
  float: left;
  position: relative;
  margin-left: 40px;
  cursor: pointer;
}
.list li:hover .down{
  width: 100%;
}
.list li .up{
    color: #009EE0;
}
.list li .down{
  position: absolute;
  left: 0;
  top:0;
  width: 0;
  transition: width 1s;
  overflow: hidden;
}
.arrow{
  position:absolute ;
  left:50%;
  z-index: 100;
  bottom: -11px;
  width: 21px;
  height: 11px;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  transition:left 1s;

}
#content{
  position: absolute;
  top: 80px; ;
  left:0;
  right:0;
  bottom:0;
  background: yellow;
  overflow: hidden;
}
#content-main{
  height:500%;
  width:100%;
  background-image:url("../img/b");

  transition: top 1s;
  position: absolute;
  left:0;
  top:0;/*为了第一次有过渡*/
}
#content-main li{
  height: 20%;
  position: relative;

}
#content-main li section{
  width: 1100px;
  height: 520px;
  /*background: green;*/
  position: absolute;
  top: 50%;
  left:50%;
  margin-top:-260px ;
  margin-left: -550px;
}
#content-main li:nth-child(1){
  background-image:url("../img/bg1.jpg");
}
#content-main li:nth-child(2){
  background-image:url("../img/bg2.jpg");
}
#content-main li:nth-child(3){
  background-image:url("../img/bg3.jpg");
}
#content-main li:nth-child(4){
  background-image:url("../img/bg4.jpg");
}
#content-main li:nth-child(5){
  background-image:url("../img/bg5.jpg");
}
